{
  "parser": "babel-eslint",
  "rules": {
    "react/prop-types": "error"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  }
}